<!-- HTML generated using hilite.me --><div style="background: #f5f5f5; overflow:auto;width:auto;border:solid gray;border-width:0px;padding:1.6em;"><pre style="margin: 0; line-height: 125%"><span style="color: #bb0066; font-weight: bold">&lt;body</span> <span style="color: #336699">class=</span><span style="color: #dd2200; background-color: #fff0f0">&quot;fixed-left widescreen&quot;</span><span style="color: #bb0066; font-weight: bold">&gt;</span>

    <span style="color: #888888">&lt;!-- Begin page --&gt;</span>
    <span style="color: #bb0066; font-weight: bold">&lt;div</span> <span style="color: #336699">id=</span><span style="color: #dd2200; background-color: #fff0f0">&quot;wrapper&quot;</span><span style="color: #bb0066; font-weight: bold">&gt;</span>

        <span style="color: #888888">&lt;!-- Top Bar Start --&gt;</span>
        <span style="color: #bb0066; font-weight: bold">&lt;div</span> <span style="color: #336699">class=</span><span style="color: #dd2200; background-color: #fff0f0">&quot;topbar&quot;</span><span style="color: #bb0066; font-weight: bold">&gt;</span>
            <span style="color: #888888">&lt;!-- LOGO --&gt;</span>
            <span style="color: #bb0066; font-weight: bold">&lt;div</span> <span style="color: #336699">class=</span><span style="color: #dd2200; background-color: #fff0f0">&quot;topbar-left&quot;</span><span style="color: #bb0066; font-weight: bold">&gt;</span>
                ...
            <span style="color: #bb0066; font-weight: bold">&lt;/div&gt;</span>
        <span style="color: #bb0066; font-weight: bold">&lt;/div&gt;</span>
        <span style="color: #888888">&lt;!-- Top Bar End --&gt;</span>


        <span style="color: #888888">&lt;!-- ========== Left Sidebar start ========== --&gt;</span>

        <span style="color: #bb0066; font-weight: bold">&lt;div</span> <span style="color: #336699">class=</span><span style="color: #dd2200; background-color: #fff0f0">&quot;left side-menu&quot;</span><span style="color: #bb0066; font-weight: bold">&gt;</span>
            <span style="color: #bb0066; font-weight: bold">&lt;div</span> <span style="color: #336699">class=</span><span style="color: #dd2200; background-color: #fff0f0">&quot;sidebar-inner slimscrollleft&quot;</span><span style="color: #bb0066; font-weight: bold">&gt;</span>
                <span style="color: #888888">&lt;!--- Divider --&gt;</span>
                <span style="color: #bb0066; font-weight: bold">&lt;div</span> <span style="color: #336699">id=</span><span style="color: #dd2200; background-color: #fff0f0">&quot;sidebar-menu&quot;</span><span style="color: #bb0066; font-weight: bold">&gt;</span>
                    ...
                <span style="color: #bb0066; font-weight: bold">&lt;/div&gt;</span>
            <span style="color: #bb0066; font-weight: bold">&lt;/div&gt;</span>
        <span style="color: #bb0066; font-weight: bold">&lt;/div&gt;</span>
        <span style="color: #888888">&lt;!-- ========== Left Sidebar end ========== --&gt;</span>

        <span style="color: #888888">&lt;!-- ========== main content start ========== --&gt;</span>
        <span style="color: #bb0066; font-weight: bold">&lt;div</span> <span style="color: #336699">class=</span><span style="color: #dd2200; background-color: #fff0f0">&quot;content-page&quot;</span><span style="color: #bb0066; font-weight: bold">&gt;</span>

            <span style="color: #888888">&lt;!-- content --&gt;</span>
            <span style="color: #bb0066; font-weight: bold">&lt;div</span> <span style="color: #336699">class=</span><span style="color: #dd2200; background-color: #fff0f0">&quot;content&quot;</span><span style="color: #bb0066; font-weight: bold">&gt;</span>
                ....
            <span style="color: #bb0066; font-weight: bold">&lt;/div&gt;</span>

            <span style="color: #888888">&lt;!-- content --&gt;</span>

            <span style="color: #888888">&lt;!-- footer --&gt;</span>
            <span style="color: #bb0066; font-weight: bold">&lt;footer</span> <span style="color: #336699">class=</span><span style="color: #dd2200; background-color: #fff0f0">&quot;footer&quot;</span><span style="color: #bb0066; font-weight: bold">&gt;</span>
                2016 - 2017 &copy; Uplon.
            <span style="color: #bb0066; font-weight: bold">&lt;/footer&gt;</span>
        <span style="color: #bb0066; font-weight: bold">&lt;/div&gt;</span>

        <span style="color: #888888">&lt;!-- ========== main content end ========== --&gt;</span>


        <span style="color: #888888">&lt;!-- ========== Right sidebar start ========== --&gt;</span>
        <span style="color: #bb0066; font-weight: bold">&lt;div</span> <span style="color: #336699">class=</span><span style="color: #dd2200; background-color: #fff0f0">&quot;side-bar right-bar&quot;</span><span style="color: #bb0066; font-weight: bold">&gt;</span>
            ...
        <span style="color: #bb0066; font-weight: bold">&lt;/div&gt;</span>

        <span style="color: #888888">&lt;!-- ========== Right sidebar end ========== --&gt;</span>

    <span style="color: #bb0066; font-weight: bold">&lt;/div&gt;</span>
    <span style="color: #888888">&lt;!-- scripts --&gt;</span>
    ...

<span style="color: #bb0066; font-weight: bold">&lt;/body&gt;</span>
</pre></div>